// .container {}

.header {
    background-color: var(--main-text-color);
    color: var(--second-text-color);
    border-bottom: 1px solid #8D8C8F;
    max-width: 1440px;
    margin: auto;

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__logo {}

    &__img {}
}

.nav {

    &__list {
        display: flex;
        gap: 52px;
    }

    &__media-list {
        display: flex;
        gap: 20px;
    }
}

.nav-list {

    &__item {}

    &__link {
        color: var(--second-text-color);
        display: block;
        padding: 28px 0;
        transition: var(--color-trans);

        &:hover {
            color: aquamarine;
        }
    }
}

.media-list {

    &__item {}

    &__input {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        width: 24px;
        height: 24px;
        border-radius: 30px;
        background-color: grey;
        outline: none;
        padding-left: 8px;
        font-size: 14px;
        color: rgb(255, 255, 255, 0.8);
        transition: width 0.3s ease;

        &::placeholder {
            font-size: 14px;
        }
    }

    &__input-wrap {
        position: relative;

    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--second-text-color);
        transition: var(--color-trans);

        &:hover {
            color: aquamarine;
        }
    }

    &__link--button {
        cursor: pointer;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        background-color: rgb(74, 74, 74);
        // border: 1px solid tomato;
        padding: 0;
        border: none;
        border-radius: 50%;
        top: 0;
        right: 0;
    }

    &__icon {
        fill: currentColor
    }
}

.media-list__input.active {
    width: 200px;
    border-radius: 30px;
}