:root {
    --main-text-color: #1B1A1F;
    --second-text-color: #FFFFFF;
    --color-trans: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --back-trans: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}